@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #b8c6db;
   padding: 10px;
}
.testimonial-container {
   background-color: #476ce4;
   color: #fff;
   border-radius: 15px;
   margin: 20px;
   padding: 50px 80px;
   max-width: 768px;
   position: relative;
}
.fa-quote {
   color: rgba(255,255,255, 0.3);
   font-size: 40px;
   position: absolute;
   top: 60px;
}
.fa-quote-right {
   left: 40px;
}
.fa-quote-left {
   right: 40px;
}
.testimonial {
   line-height: 30px;
   text-align: justify;
}
.user {
   display: flex;
   align-items: center;
   justify-content: center;
}
.user-img {
   border-radius: 50%;
   height: 75px;
   width: 75px;
   object-fit: cover;
}
.user-details {
   margin-left: 10px;
}
.username {
   margin: 0;
}
.role {
   margin: 10px 0;
}
.progress-bar {
   height: 4px;
   width: 100%;
   transform-origin: left;
   background-color: #fff;
   animation: grow 8s linear infinite;
}
@keyframes grow {
   0% {
      transform: scaleX(0);
   }
}

@media(max-width: 768px){
   .fa-quote {
      display: none;
   }
   .testimonial-container {
      padding: 20px 30px;
   }
}